img{
    width: 30%;
    margin:3px
}
p{
     font-family: sans-serif  ;
    text-transform: uppercase;
margin-left: 1.66%;
font-weight: 800;
border-bottom: 3px solid  ;
width: 30%;
padding-bottom: 10px;
}